html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: $brand-color;
  font-family: $text-font;
  font-size: $text-size;
  color: $text-color;
  line-height: 1.2;
}
